<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/investment.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <h1>All investors</h1>
    <% if (investors.length > 0) { %>
        <ul class="investment__list">
            <% investors.forEach(investor => { %>
            <li class="investment__list-item">
                <div class="investment__title">Investor name "<%= investor.email %>"</div>
                <div class="investment__amount ">Investor capital: $ <%= investor.capital.totalAmountInvestment %></div>
            </li>
            <% }); %>
        </ul>
        <hr>
        <div class="investment__amount">Total Amount: $ <%= allCapital %></div>
    <% } else { %>
        <h1>No one has pecked yet!</h1>
    <% } %>
</main>
</body>

</html>